.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainDiv{
  background-color: rgb(33, 63, 152);
  align-items: center;
  /* padding: 5%; */
  display: block;
  /* padding-top: 4vh; */
  height: 10vh;
  /* padding-bottom: 80vh; */
  /* margin-top: 10.5vh; */
}

.h1Class{
  padding-left: 50%;
  color: white;
}

.formClass{
  padding: 3%;
  padding-left: 5%;
}

.form-control {
  width: 10px;
}

.InputBox{
  width: 20%;
}
/* .firstDiv{
  background-color: rgb(152, 33, 53);
  padding: 3%;
} */